/* -- Ghost buttons -- */
.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #fff;
    border: 2px solid #fff;
    text-align: center;
    outline: none;
    text-decoration: none;
    transition: background-color 0.2s ease-out,
                border-color 0.2s ease-out;
  }

  .ghost-button:hover,
  .ghost-button:active {
      /*background-color: rgba(255, 255, 255, 0.4);*/background-color: pink;
      text-decoration: none;
      border-color: rgba(255, 255, 255, 0.4);
      transition: background-color 0.3s ease-in,
                  border-color 0.3s ease-in;
}

