/* CSS Styles */
.navbar.navbar-default.navbar-fixed-top {
  background: none;
  height: 75px;
  padding-top: 0px;
  border: 0;
}

h5 {
  font-family: 'Arvo', serif;
  font-size: 40px;
  color: #FFFFFF;
  margin: -4px 100px 0 0;
}

h7 {
  font-family: 'Arvo', serif;
  color: #FFFFFF;
}

h8 {
  font-family: 'Lato', sans-serif;
  font-size: 70px;
  color: #FFFFFF;
}

h9 {
  font-family: 'Josefin Slab', serif;
  font-size: 30px;
  color: #FFFFFF;
}
.whatis{
  text-align:center;
  font-family: 'Lato', sans-serif;
  font-size: 70px;
}
.caption {
    top:35%;
    left:25%;
    position: absolute;
}

.caption h8 {
  line-height: 1em;
}

/* --- Login page --- */

/* Background image */
.login .container-fluid {
  background-image: url("../img/loginimg.jpg");
  background-size: 100% 100%;
  min-height: 957px;
}

/* Login box */
.login .container {
  padding: 20px;
  width: auto;
  height: 350px;
}

.login .row {
  padding-top: 15%;
  padding-left: 30%;
}

.login .col-6.col-sm-4 {
  background-color: white;
  margin: 10px;
  filter: alpha(opacity=60);
  opacity: 0.8;
}

.loginBox .col-6.col-sm-4 {
  width: 300px;
  height: 270px;
}

.registerBox .col-6.col-sm-4 {
  width: 300px;
  height: 315px;
}

/* -- Hub Page CSS --*/

/* Background image */
.hub  .container-fluid {
  background-image: url("../img/hubpic.jpg");
  background-size: 100% 100%;
  min-height: 957px;
}

.hub .row {
  padding-top: 15%;
  padding-left: 20%;
}

/* -- Lessons Page CSS --*/

/* Background image */
.lessons  .container-fluid {
  background-image: url("../img/lessonsimg.jpg");
  background-size: 100% 100%;
  min-height: 957px;
}

.lessons .row {
  padding-top: 15%;
  padding-left: 20%;
}