
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #575DA9; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:white">CSRF - Cross Site Request Forgery</h8>
                  <hr style="color:white;">
                  <h9 style="color:white;">&nbsp&nbsp&nbsp&nbsp Lesson One - CSRF Basics </h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">

        <div class="col-md-12">
            <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Disclaimer</h1>
                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                  Any actions and or activities related to the material contained within this Website is solely your responsibility and taught for educational purposes <b>only.</b> The misuse of the information in this website can result in criminal charges brought against the persons in question. 
                </p>
              </div>
    
              <div class="col-md-12">
                <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px;">Lesson Requirements</h1>
                      <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                        <li>Understand basic HTML and CSS and JavaScript.</li>
                        <li>Understand a little bit of Python.</li>
                      </ul>
                  </div>

        <div class="col-md-12">
        <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              In this lesson we will be looking at the basics of CRSF and even a couple of real life scenarios of websites that have fallen victim to this attack.
            </p>
          </div>

          <div class="col-md-12">
              <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is CSRF?</h1>
                  <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                  CSRF (Cross site request forgery) is the third most common hacking technique, just below SQL injections and Cross site Scripting (XSS). CSRF isn't as well known as the other two but is just as dangerous and all web application should protect themselves from this attack.
                  <br>
                  <br>
                  Take this scenario for example, a user logs into a legitimate website such as Amazon.com and now they are authorized on this website and they want to change their on this website, they then go to the form for changing the email and post it to amazon which would then change the email and confirm it with the user. However there is a malicous website called georgesblog.com which is a malicious website disguised as a blogging website that contains a hidden form with the same properties as the amazon change email form and has javascript to execute the form once a user visits the page. 
                  <br>
                  <br>
                    Now if that user is logged in on amazon and authorized, they will be given a cookie which stores their session, but if they were to open a new tab in the browser for example and go to the malicious website georgesblog.com then the hidden form that contains the same data as the amazon change email form would be sent automatically using javascript. Now that the attacker has changed the email of the victim to their email they can reset the password and will have complete access to the victim's amazon account.
                  </p>
                </div>

                <div class="col-md-12">
                    <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">POST and GET requests</h1>
                        <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                          To understand how CSRF attacks truly work we need to understand the web architecture. In web applications we have requests which is a piece of data that the user sends to the webserver and the webserver will send a response. There are many different types of request types but the most important ones are the POST request and the GET request. The GET request is basically asking to return a webpage, for instance when a user visits youtube.com they send a get request and youtube sends the user the homepage of youtube.com. However we also have a POST request which is a bit different and is when a user wants to send information to the web browser for instance if a user wants to create a youtube account they will send a post request containing a payload that contains all their login details and user account details that they inputted on the corresponding form for doing this. Now understanding how POST and GET requests work you can see that an attacker can easily replicate the youtube create account form and disguise it but still use the same POST web address to send the data annonymously without the victim knowing about it.
                        </p>
                      </div>

                <div class="col-md-12">
                    <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Real websites that have fallen victim to CSRF</h1>
                    <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                      <li>Youtube - Even the popular video sharing website Youtube fell victim to this attack, an attacker could replicate the favourite video form post request causing the attacker to be able to gain access to the user's private videos.</li>
                      <li>MetaFilter - Another victim of CSRF is MetaFilter, an attacker could take control of a user's account by replicating the lost password form on the website as it was not protected form CSRF.</li>
                    </ul>
                      </div>
    


      <!-- Next lesson button -->
         <form action="/csrf_lesson2">
          <button style="width:100%; border-radius: 24px; background-color: #575DA9 !important" type="register" class="btn"><h7>Next Lesson</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
