
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #575DA9; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:white">CSRF - Cross Site Request Forgery</h8>
                  <hr style="color:white;">
                  <h9 style="color:white;">&nbsp&nbsp&nbsp&nbsp Lesson Two - CSRF Real Example </h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">

        <div class="col-md-12">
        <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
             Now we know a bit about how CSRF works, in this lesson we will expand on that and play around with a real life scenario so you can see from both the attacker and the victim's point of view how this attack was executed.
            </p>
          </div>

          <div class="col-md-12">
              <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 1 - Banking Website</h1>
                  <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 40px">
                  An example we will be looking at is for a banking website and how an attacker could perform a CSRF attack on the website.
                  <br>
                  Okay so we are given a scenario where you have two websites you have the legitimate banking website called CRFSBanking.com this website will contain a form called transfer money that allows user's to transfer money from their account to another account.
                  <br>
                  <br>
                  we also have a malicious website disguised as a blogging website called georgesblog.com this will have a hidden form that uses the same properties of the banking website's form for transfering money but this will be hidden from the user and will be disguised as posting a comment form however when the user posts a comment on this malicious website it doesn't create a new comment but instead will send that user's POST request to the legit banking website using the user's cookie session and will transfer the hacker money into his account without the user even knowing. 
                  <br>
                  <br>
                  Now before I explain how it works and show you the attackers code I want you to play around with the forms below and look at the results and see if you can understand how it works.
                  </p>
                </div>



      <!-- form -->
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 10px;">The Legit Banking website CRFSBanking.com - Form (Transfer Money)</h1>
      <form action="csrf_lesson2_send" method="post">
          <div class="form-group">
              <label for="imput1">Account to Transfer to</label>
              <input type="text" class="form-control" id="imput1" name="acc_num" placeholder="Account Number...">
          </div>
          <div class="form-group">
              <label for="imput1">Amount of Money (£)</label>
              <input type="text" class="form-control" id="imput1" name="amount" placeholder="Amount...">
          </div>
          <div class="form-group">
          <button style="border-radius: 24px; !important" type="submit" class="btn btn-primary">Send Money</button>
        </div>
      </form>

      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <div class = "alert alert-danger alert-dismissable">
           <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
              &times;
           </button>
           {{ message }}
         </div>
        {% endfor %}
     {% endif %}
   {% endwith %}

      <br>
      <br>
      <br>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 10px;">Malicous Blogging website  georgesblog.com - Form (Post a comment)</h1>
      <form action="/csrf_lesson2_send" method="post">
          <div class="form-group">
              <label for="imput1">Comment</label>
              <input type="text" class="form-control" id="imput1" name="comment" placeholder="Post comment.">
          </div>
          <input type="hidden" name="acc_num" value="3">
          <input type="hidden" name="amount" value="10">
          <div class="form-group">
          <button style="border-radius: 24px; !important" type="submit" class="btn btn-danger">Post Comment</button>
        </div>
      </form>

      <br>
      <br>
      <br>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 10px;">Results</h1>
      <form>
          <div class="form-group">
              <label for="imput1">Your Account - Account 1</label>
              <input type="text" class="form-control" id="imput1" name="user_money" value="£{{ acc_1}}" readonly>
          </div>
          <div class="form-group">
              <label for="imput1">Friends Account - Account 2</label>
              <input type="text" class="form-control" id="imput1" name="user_money" value="£{{ acc_2}}" readonly>
          </div>
          <div class="form-group">
              <label for="imput1">Hacker's Account - Account 3</label>
              <input type="text" class="form-control" id="imput1" name="hackers_money" value="£{{ acc_3}}" readonly>
          </div>
      </form>

      <div class="col-md-12">
          <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">How it works?</h1>
              <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                So after playing around with the forms you can kind of get the general gist of how this scenario works, don't worry if you don't because I'll explain it now. So in the example above we have two forms, the original banking form and also a malicious website with comment form that has hidden inputs embedded into it for storing the hackers bank account number and an amount in this case £10, this was designed like that so the user will try to post a comment but instead will send money from his bank account to the hackers. This only works because the cookie that stores the user's session is authorized which means that the banking app will treat it as if the user has made the request and not them, if the user was to log out of the banking app then the hacker would not be able to execute the CSRF attack. Look at the code below to see how the banking form and commenting form work and you will see that they both send the data to the same place.
              </p>
              <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 10px;">Original - Banking Form Code</h1>
<pre><code>
&lt;form action="csrf_lesson2_send" method="post">
&lt;div class="form-group">
&lt;label for="imput1">Account to Transfer to&lt;/label>
&lt;input type="text" class="form-control" id="imput1" name="acc_num" placeholder="Account Number...">
&lt;/div>
&lt;div class="form-group">
&lt;label for="imput1">Amount of Money (£)&lt;/label>
&lt;input type="text" class="form-control" id="imput1" name="amount" placeholder="Amount...">
&lt;/div>
&lt;div class="form-group">
&lt;button style="border-radius: 24px; !important" type="submit" class="btn btn-primary">Send Money&lt;/button>
&lt;/div>
&lt;/form>
</code></pre>
<h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 10px;">Malicious - Commenting Form Code</h1>
<pre><code>
    &lt;form action="/CSRFBanking.com/transfer" method="post"&gt;
    &lt;div class="form-group">
    &lt;label for="imput1">Comment&lt;/labe&gt;
    &lt;input type="text" class="form-control" id="imput1" name="comment" placeholder="Post comment."&gt;
    &lt;/div&gt;
    &lt;input type="hidden" name="acc_num" value="3"&gt;
    &lt;input type="hidden" name="amount" value="10"&gt;
    &lt;div class="form-group"&gt;
    &lt;button style="border-radius: 24px; !important" type="submit" class="btn btn-danger">Post Comment&lt;/button&gt;
    &lt;/div&gt;
    &lt;/form&gt;
     </code></pre>

            </div>



      <!-- Next lesson button -->
         <form action="/csrf_lesson3">
          <button style="width:100%; border-radius: 24px; background-color: #575DA9 !important" type="register" class="btn"><h7>Next Lesson</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
