
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #575DA9; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:white">CSRF - Cross Site Request Forgery</h8>
                  <hr style="color:white;">
                  <h9 style="color:white;">&nbsp&nbsp&nbsp&nbsp Lesson Three - Prevention </h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">

        <div class="col-md-12">
        <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              Now we understand how CSRF works and have looked at real life scenarios, now we are going to learn the prevention methods to protect against this sort of attack, to ensure that if you decide to create a web application in the future it will be immune to CSRF attacks.
            </p>
          </div>

          <div class="col-md-12">
              <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Mitigation Techniques</h1>
              <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                  <li>Synchronizer CSRF tokens</li>
                  <li>Html Referrer</li>
                </ul>
                </div>

      <div class="col-md-12">
          <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Synchronizer CSRF tokens</h1>
              <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                One mitigation technique for developers is to use Synchronizer CSRF tokens in there system this basically is where there will be a hidden token generated on the form for each request and the website will check the token matches the one that is stored on the server, if it matches then the token is legit and they will accept the request otherwise it is a malicious request and the web server will reject it. Below is an example of an implementation that could be used to create a token in html and send it to the server.
              </p>
 <pre><code>&lt;form action="/transfer.do" method="post">
  &lt;input type="hidden" name="CSRFToken" 
  value="OWY4NmQwODE4ODRjN2Q2NTlhMmZlYWE...
  wYzU1YWQwMTVhM2JmNGYxYjJiMGI4MjJjZDE1ZDZ...
  MGYwMGEwOA==">
  …
  &lt;/form>
</pre></code>
              
                    
                <div class="col-md-12">
                    <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Html Referrer</h1>
                        <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                          The last method for mitigating CSRF attacks would be to check the referer header matches the origin header of the website that is verfied. A referer header is a HTPP header field in the HTML file that identifies the address of the webpage, so by comparing the addresses you can see how if the origin has the same address as another webpage. An example of this would be if you're using google chrome open up the developer tools and then go to the network tab and click on the top result and go to headers on the right panel this will show you the address. Below is an image of this.
                        </p>
                        <img src="../static/img/example.png" height="500" width="500">
                        
                      </div>


                <div class="col-md-12">
                    <h1 style="color:#575DA9; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Summary</h1>
                        <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                        So in these CSRF lessons we looked at how CSRF work and different techniques of implementing them and even how to protect your website against them. I hope you enjoyed the lesson as much as I spent creating it and hope you will make secure websites that are immune to SQL injections. <br><B>SQL Injection Completed - Happy Learning.</B>
                        </p>
                      </div>


      <!-- Next lesson button -->
         <form action="/csrf_lesson4">
          <button style="width:100%; border-radius: 24px; background-color: red !important" type="register" class="btn"><h7>Complete Lessons</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
