
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

    <link href="../static/css/hover-min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7>Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
          </ul>
        </div>
      </div>
    </nav>

      <div class="hub">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Hub</h8>
                  <hr>
                  <h9>Unlock rewards and review your progression.</h9>
                  <a class="ghost-button" style="position: absolute; top: 200px; left: 200px; text-decoration: none; color: white; font-weight: bolder" href="#down"> Check Progress <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

          <!-- Progression-->
          <div id='down'><a name='down'></a></div>
          <div class="container-fluid" style="background-color: #F7F5E6">
              <div class="row" style="padding: 50px">
                  <div class="col-md-12">
                      <h5 style="color: #52658F; text-align: center">{{ username }}'s Progression</h5>
                  </div>
              </div>

          <div class="row" style="padding: 50px">    

            <!-- Column 1 - Level -->
           <div class="col-6 col-md-4" style="padding: 30px;">
              <hr>
              <h5 style="color: #52658F; text-align: center; padding-bottom: 10px">Vuln Level</h5>
              <hr>
              <a href="#modal20" class="button hvr-grow" data-toggle="modal">                          
              {% if level == 0 %}
              <img src="../static/img/icons/unranked.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% elif level == 1 %}
              <img src="../static/img/icons/level_1.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% elif level == 2 %}
              <img src="../static/img/icons/level_2.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% elif level == 3 %}
              <img src="../static/img/icons/level_3.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% elif level == 4 %}
              <img src="../static/img/icons/level_4.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% elif level == 5 %}
              <img src="../static/img/icons/level_5.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% else %}
              <img src="../static/img/icons/unranked.svg" class="center-block" width="200" height="200" style="padding-bottom: 10px; margin-left: 100px"></a> 
              {% endif %}
             </div>

           <!-- Column 2 - Lesson Progression -->
           <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
              <hr>
              <h5 style="color: #52658F; text-align: center; padding-bottom: 10px">Lessons Completed</h5>
              <hr>
              <button style="width:200px; height: 200px; border-radius: 100px; background-color: #C7D8C6 !important" type="register" class="center-block"><h2 style="font-size: 90px;">{{ lessons }}</h2></button>
          </div>

           <!-- Column 3 - Achievements -->
           <!-- badges reference -->
           <!-- https://www.flaticon.com/packs/badges-and-votes -->
           <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
              <hr>
              <h5 style="color: #52658F; text-align: center; padding-bottom: 10px">Achievements</h5>
              <hr>

              <a href="#modal1" class="button hvr-grow" data-toggle="modal">
              <img src="../static/img/icons/create_account_bg.svg" width="100" height="100" style="padding-bottom: 10px;" title="Getting Started Achievement"></a>

              <a href="#modal2" class="button hvr-grow" data-toggle="modal">
              <img src="../static/img/icons/like.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - Thumbs Up Achievement"></a>
              
              <a href="#modal3" class="button hvr-grow" data-toggle="modal">
              <img src="../static/img/icons/vote.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - The Voter Achievement"></a>

              <a href="#modal4" class="button hvr-grow" data-toggle="modal">
              {% if bg4 == 1 %}
              <img src="../static/img/icons/xp.svg" width="100" height="100" style="padding-bottom: 10px;" title="Easy XP Achievement"></a>
              {% else %}
              <img src="../static/img/icons/xp.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - Easy XP Achievement"></a>
              {% endif %}

              <a href="#modal5" class="button hvr-grow" data-toggle="modal">
              {% if bg5 == 1 %}
              <img src="../static/img/icons/crown.svg" width="100" height="100" style="padding-bottom: 10px;" title="We Level Up Achievement"></a>
              {% else %}
              <img src="../static/img/icons/crown.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - We Level Up Achievement"></a>
              {% endif %}

              <a href="#modal6" class="button hvr-grow" data-toggle="modal">
              {% if bg6 == 1 %}
              <img src="../static/img/icons/gold-medal.svg" width="100" height="100" style="padding-bottom: 10px;" title="The Novice Achievement"></a>
              {% else %}
              <img src="../static/img/icons/gold-medal.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - The Novice Achievement"></a>
              {% endif %}
              
              <a href="#modal7" class="button hvr-grow" data-toggle="modal">
              {% if bg7 == 1 %}
              <img src="../static/img/icons/silver-medal.svg" width="100" height="100" style="padding-bottom: 10px;" title="The Apprentice Achievement"></a>
              {% else %}
              <img src="../static/img/icons/silver-medal.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - The Apprentice Achievement"></a>
              {% endif %}
              
              <a href="#modal8" class="button hvr-grow" data-toggle="modal">
              {% if bg8 == 1 %}
              <img src="../static/img/icons/bronze-medal.svg" width="100" height="100" style="padding-bottom: 10px;" title="The Adapt Achievement"></a>
              {% else %}
              <img src="../static/img/icons/bronze-medal.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - The Adapt Achievement"></a>
              {% endif %}
              
              {% if bg9 == 1 %}
              <a href="#modal9" class="button hvr-grow" data-toggle="modal">
              <img src="../static/img/icons/shield.svg" width="100" height="100" style="padding-bottom: 10px;" title="The Master Achievement"></a>
              {% else %}
              <img src="../static/img/icons/shield.svg" width="100" height="100" style="padding-bottom: 10px; opacity: 0.2;" title="Locked - The Master Achievement"></a>
              {% endif %}
            </div>


            </div>
          </div>

          <!-- Wallet-->
          <div class="container-fluid" style="background-color: #F7F5E6">
              <div class="row" style="padding: 50px">
                  <div class="col-md-12">
                      <h5 style="color: #52658F; text-align: center">{{ username }}'s Wallet</h5>
                  </div>
                </div>

                  <div class="row" style="padding-bottom: 50px">
                    <div class="col-md-12">
                    <img src="../static/img/icons/money-bag.svg" class="center-block" width="200" height="200" style="padding-bottom: 15px">
                    <h5 style="color: #52658F; text-align: center">{{ wallet }} vcash</h5>
                </div>
              </div>
          </div>

                    <!-- Rewards Shop-->
          <div class="container-fluid" style="background-color: #52658F">
              <div class="row" style="padding: 50px">
                  <div class="col-md-12">
                      <h5 style="color: #F7F5E6; text-align: center">Reward Shop</h5>
                  </div>
              </div>

              <div class="row" style="padding: 50px">
                  <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
                      <img src="../static/img/icons/coming_soon.png" class="center-block" width="200" height="200" style="padding-bottom: 15px">
                      <h5 style="color: #F7F5E6; text-align: center; padding-bottom: 15px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coming Soon</h5>
                      <button style="width:100%; border-radius: 24px" type="register" class="btn btn-danger"><h7>Currently Unavailable</h7></button>
                </div>

            <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
                <img src="../static/img/icons/coming_soon.png" class="center-block" width="200" height="200" style="padding-bottom: 15px">
                <h5 style="color: #F7F5E6; text-align: center; padding-bottom: 15px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coming Soon</h5>
                <button style="width:100%; border-radius: 24px" type="register" class="btn btn-danger"><h7>Currently Unavailable</h7></button>
          </div>

          <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
              <img src="../static/img/icons/coming_soon.png" class="center-block" width="200" height="200" style="padding-bottom: 15px">
              <h5 style="color: #F7F5E6; text-align: center; padding-bottom: 15px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Coming Soon</h5>
              <button style="width:100%; border-radius: 24px" type="register" class="btn btn-danger"><h7>Currently Unavailable</h7></button>
        </div>

      </div>
    </div>



    <!-- Achievement MODALS -->
    <!-- Modal -->
<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">Getting Started - Achievement</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img src="../static/img/icons/create_account_bg.svg" class="center-block" width="100" height="100">
          <br>
          To unlock this achievement you must create an account.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="exampleModalLongTitle">Thumbs Up - Achievement</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img src="../static/img/icons/like.svg" class="center-block" width="100" height="100">
            <br>
            To unlock this achievement you must like a lesson.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="exampleModalLongTitle">The Voter - Achievement</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <img src="../static/img/icons/vote.svg" class="center-block" width="100" height="100">
              <br>
              To unlock this achievement you must post a comment on a lesson.
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modal4" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Easy XP - Achievement</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img src="../static/img/icons/xp.svg" class="center-block" width="100" height="100">
                <br>
                To unlock this achievement you must gain xp by completing any lesson.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="modal5" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="exampleModalLongTitle">We Level Up - Achievement</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="../static/img/icons/crown.svg" class="center-block" width="100" height="100">
                  <br>
                  To unlock this achievement you must level up by earning xp and completing lessons.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="modal6" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">The Novice - Achievement</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="../static/img/icons/gold-medal.svg" class="center-block" width="100" height="100">
                    <br>
                    To unlock this achievement you must complete a lesson.
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="modal7" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h3 class="modal-title" id="exampleModalLongTitle">The Apprentice - Achievement</h3>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <img src="../static/img/icons/silver-medal.svg" class="center-block" width="100" height="100">
                      <br>
                      To unlock this achievement you must complete two lessons.
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="modal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h3 class="modal-title" id="exampleModalLongTitle">The Adapt - Achievement</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <img src="../static/img/icons/bronze-medal.svg" class="center-block" width="100" height="100">
                        <br>
                        To unlock this achievement you must complete three lessons.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="modal fade" id="modal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h3 class="modal-title" id="exampleModalLongTitle">The Master - Achievement</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <img src="../static/img/icons/shield.svg" class="center-block" width="100" height="100">
                          <br>
                          To unlock this achievement you must complete all lessons.
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="modal fade" id="modal20" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Vuln Levels</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <img src="../static/img/icons/unranked.svg" class="center-block" width="100" height="100">
                            <br>
                            The Vuln levelling system is simple, every 5 levels you complete you level up.
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>