
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

     <!-- Glyphicons -->
     <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Landing Page part -->
      <img src="../static/img/landingimg.jpeg" class="img-responsive" alt="landing-image" style="min-height: 957px;">

      <div class="caption" style="border-color: blueviolet; border-width: 5px;">

             <h8>Discover Ethical Hacking</h8>
             <hr>
             <h9>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Learn ethical hacking interactively for free.</h9>
             {% if user == None %}
             <a class="ghost-button" style="position: absolute; top: 175px; left: 300px; text-decoration: none; color: white; font-weight: bolder" href="/login">Learn Today&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span></a>
             {% else %}
             <a class="ghost-button" style="position: absolute; top: 175px; left: 300px; text-decoration: none; color: white; font-weight: bolder" href="/lessons">Learn Today&nbsp&nbsp<span class="glyphicon glyphicon-share-alt"></span></a>
             {% endif %}
         </div>
        
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
</html>
