
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7>Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

      <div class="lessons">
        <div class="container-fluid">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp Lessons</h8>
                  <hr>
                  <h9>&nbsp&nbsp&nbsp&nbsp Complete lessons and learn interactively.</h9>
                  <a class="ghost-button" style="position: absolute; top: 200px; left: 200px; text-decoration: none; color: white; font-weight: bolder" href="#down"> Start Learning <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

     <!-- Lessons Content-->
     <div class="container">
        <div id='down'><a name='down'></a></div>
        <div class="row" style="padding-top: 50px">
          <div class="col-md-12">
            <h5 style="color: #000; text-align: center">Available Courses</h5>
          </div>
        </div>
        <div class="row" style="padding: 50px">

          <!-- SQL Lesson -->
          <div class="col-6 col-md-4" style="padding: 30px; align-content: center">
           <img src="../static/img/icons/sql.svg" class="img-rounded" alt="SQLinjection" width="200" height="200" style="padding-bottom: 10px">
            <h5 style="color: #000; text-align: center; padding-bottom: 10px">SQL Injection</h5>

            {% if sql == 0 %}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <form action="/sql_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>

            {% elif sql == 1 %}
            <div class="progress">
              <div class="progress-bar" style="width:20%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">20%</div>
           </div>
            <form action="/sql_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

            {% elif sql == 2 %}
            <div class="progress">
              <div class="progress-bar" style="width:40%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">40%</div>
            </div>
            <form action="/sql_lesson">
              <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

              {% elif sql == 3 %}
              <div class="progress">
                <div class="progress-bar" style="width:60%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">60%</div>
              </div>
              <form action="/sql_lesson">
                <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

            {% elif sql == 4 %}
            <div class="progress">
              <div class="progress-bar" style="width:80%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
            <form action="/sql_lesson">
              <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

          {% elif sql == 5 %}
          <div class="progress">
            <div class="progress-bar" style="width:100%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">100%</div>
          </div>
          <form action="/sql_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Lesson Complete</h7></button>

            {% else %}
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <form action="/sql_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>
          {% endif %}

          </form>
          </div>

          <!-- XSS Lesson -->
          <div class="col-6 col-md-4" style="padding: 30px">
              <img src="../static/img/icons/xss.svg" class="img-rounded" alt="XSS" width="200" height="200" style="padding-bottom: 10px">
              <h5 style="color: #000; text-align: center; padding-bottom: 10px">Cross site Scripting</h5>
              <div class="progress">
              
            {% if xss == 0 %}
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>

            {% elif xss == 1 %}
            <div class="progress-bar" style="width:25%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">25%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

            {% elif xss == 2 %}
            <div class="progress-bar" style="width:50%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>


            {% elif xss == 3 %}
            <div class="progress-bar" style="width:75%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">75%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>

            {% elif xss == 4 %}
            <div class="progress-bar" style="width:100%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Lesson Complete</h7></button>

            {% else %}
            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
            </div>
            <form action="/xss_lesson">
            <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>
            {% endif %}

          </form>
          </div>

          <!-- TBC Lesson-->
          <div class="col-6 col-md-4" style="padding: 30px">
            <img class="img-responsive" src="../static/img/icons/usb.svg" alt="usb" width="200" height="200" style="padding-bottom: 10px">
            <h5 style="color: #000; text-align: center; padding-bottom: 10px">Cross-site Request Forgery</h5>
            <div class="progress">

          {% if csrf == 0 %}
          <div class="progress-bar" style="width:0%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
          <form action="/csrf_lesson">
          <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>

          {% elif csrf == 1 %}
          <div class="progress-bar" style="width:33%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">33%</div>
          </div>
          <form action="/csrf_lesson">
          <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>
          
          {% elif csrf == 2 %}
          <div class="progress-bar" style="width:66%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">66%</div>
          </div>
          <form action="/csrf_lesson">
          <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Continue Lesson</h7></button>
          
          {% elif csrf == 3 %}
          <div class="progress-bar" style="width:100%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">100%</div>
          </div>
          <form action="/csrf_lesson">
          <button style="width:100%; border-radius: 24px" type="register" class="btn btn-primary"><h7>Lesson Complete</h7></button>
          {% else %}

          <div class="progress-bar" style="width:0%;" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
        </div>
        <form action="/csrf_lesson">
        <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Begin Lesson</h7></button>
          {% endif %}



          </form>
         </div>

       </div>
     </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>