
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #93C178; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">SQL Injection</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson One - SQL Basics</h9>
                </div>
            </div>
         </div>
        </div>
     </div>


     <!-- Content -->
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px;margin-bottom:25px;">
        <div class="col-md-12">
        <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is SQL?</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              SQL stands for structured query language and is the standard language for storing, mainpulating and retrieving data in databases, there are many different types of SQL languages.
            </p>
          </div>

      <!-- Example form - Code - Button
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
      <form>
          <div class="form-group">
              <label for="imput1">Username</label>
              <input type="text" class="form-control" id="imput1" placeholder="Get username">
          </div>
          <button type="submit" class="btn btn-primary">Get username</button>
      </form>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Server Code</h1>
      <pre><code> txtUserId = getRequestString("UserId");
       txtSQL = "SELECT * FROM Users WHERE UserId = " + txtUserId; </code></pre>


         <form action="/sql_lesson2">
          <button style="width:100%; border-radius: 24px" type="register" class="btn btn-success"><h7>Next Lesson</h7></button>
        </form>

              -->
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
