
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>


    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3;">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3;">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="login">
      <div class="container-fluid">
        <div class="container">
          <div class="row">

            {% with messages = get_flashed_messages() %}
               {% if messages %}
               <ul>
                 {% for message in messages %}
                 <div class = "alert alert-info alert-dismissable" style = "width: 560px;">
                    <button type = "button" class = "close" data-dismiss = "alert" aria-hidden = "true">
                       &times;
                    </button>
                    {{ message }}
                  </div>
                 {% endfor %}
                 </ul>
              {% endif %}
            {% endwith %}

            <div class="loginBox">
            <div class="col-6 col-sm-4">
              <h5 style="color:black; margin:40px 0px 35px 70px;">Login</h5>

              <form action="login_user" method="post">
                <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email"required>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password"/required>
                </div>
                <button style="width:100%; border-radius: 24px" type="login" class="btn btn-info"><h7>Login</h7></button>
              </form>

            </div>
          </div>

          <div class="registerBox">
          <div class="col-6 col-sm-4">
            <h5 style="color:black; margin:40px 0px 35px 52px;">Register</h5>

            <form action="register_user" method="post">
              <div class="form-group">
              <input type="text" class="form-control" name="name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" placeholder="Email" required>
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password"required/>
              </div>
              <button style="width:100%; border-radius: 24px" type="register" class="btn btn-danger"><h7>Register</h7></button>
            </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
</html>
