
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #93C178; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">SQL Injection</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson Three - Using comments in queries </h9>
                  <a class="ghost-button" style="position: absolute; top: 200px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>


     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px">
        <div class="col-md-12">
        <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              So in the previous lesson we looked at how 1 OR 1=1 is always True and how this method can inject SQL into databases and give the user access that it shouldn't have. In this lesson will look at a more practical approach which is the --comment technique for when there is multiple variables to be dealt with, this allows us to use our previous 1=1 technique alongside it to get the full effect
            </p>
          </div>

          <div class="col-md-12">
              <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 3 - SQL Injection based on ""="" is Always True</h1>
                  <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
                    In this example we have a form that allows the user to log in to a website, and we also will provide the server's backend code so you can see how the server will process the request and we will also show the database so you can see what entries exist and play around with it. Anyways now play around with the form and understand how it works
                  </p>
                </div>

      <!--Form -->
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
      <form action="/sql_lesson3_test" method="post">
          <div class="form-group">
              <label for="imput1">Username</label>
              <input type="text" class="form-control" id="imput1" placeholder="Username"name="username">
          </div>
          <div class="form-group">
              <label for="imput1">Password</label>
              <input type="text" class="form-control" id="imput1" placeholder="Password" name="password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Results</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"> {{ results }}</textarea>
              </div>
      </form>

      <!-- Server Code-->
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Server Code</h1>
      <pre><code> username = request.form['username']
          password = request.form['password']
          
          sql = 'SELECT * FROM Users WHERE Name ="' + username + '" AND Pass ="' + password + '"' </code></pre>

      <!-- Database-->
             <!-- Database -->
             <h1 style="color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Database</h1>
             <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">UserID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Password</th>
                  </tr>
                </thead>
      
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>testuser</td>
                    <td>password</td>
                  </tr>
      
                  <tr>
                    <th scope="row">2</th>
                    <td>admin</td>
                    <td>harlsey</td>
                  </tr>
      
                  <tr>
                    <th scope="row">3</th>
                    <td>chris</td>
                    <td>securepassword123</td>
      
                  </tr>
                  <th scope="row">4</th>
                  <td>Jimmy Mcgil</td>
                  <td>breakingbadfan</td>
                </tr>
                </tbody>
              </table>


              <div class="col-md-12">
                <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;"> Lets break it again</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                      So in this scenario we have one SQL statement with two parameters for both the username and password now if we try the 1=1 is always True technique this time it wont work because it will need the other parameter, however there is a way around this by using comments, try "' OR 1=1;--" this will first close the first side of the statement by executing anything and then run our 1=1 parameter which will return the entire database, well done now you have the admin username and password. Try the code below.
                    </p>
                    <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
                    <pre><code>' OR 1=1;--</code></pre>
                  </div>


         <form action="/sql_lesson4">
          <button style="width:100%; border-radius: 24px; background-color: #93C178 !important" type="register" class="btn btn-success"><h7>Next Lesson</h7></button>
        </form>

      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
