
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #93C178; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">SQL Injection</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson 5 - SQL Injection Prevention  </h9>
                  <a class="ghost-button" style="position: absolute; top: 200px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>


     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px">
        <div class="col-md-12">
        <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              In the last few lessons we looked at specifically how to execute SQL injections into websites, but in this lesson we are gonna to focus on protection agains SQL injection attacks instead.
            </p>
          </div>

          <div class="col-md-12">
              <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px;">Mitigation Methods</h1>
                    <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                      <li>Validation at sever side.</li>
                      <li>SQL Parameters for Protection</li>
                      <li>Encrypting Data</li>
                    </ul>
                </div>

          <div class="col-md-12">
              <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Validation at Server Side</h1>
                  <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                    Validation on the server side is one of the most important aspects, this basically means that you validate the input of the user and check to see if it has an SQL injection attack in the payload, this could be achieved in a multitude of ways but I'll give you a brief example. So in lesson 4 we looked at Batched SQL statements, well we could prevent them entirely if we checked if the userinput contained spaces or semicolons to completely mitigate this problem. Basically never directly add variables to an SQL statement with string formatting but instead use a parameter such as a questionmark(depends on the platform) to passi See the python code below to understand what I mean.
                  </p>
                  <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
                  <pre><code># Check userinput for spaces or semicolons.
elif " " in userid or ";" in userid:
# Prevention code goes here.</code></pre>
                </div>

                <div class="col-md-12">
                    <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">SQL Parameters for Protection</h1>
                        <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                          Now this is the most important factor in eliminating SQL injections is by using SQL parameters which are values that are added to an SQL query when they are run but are in a controlled state so that people can't inject SQL queries. Below I will show you an example of a bad SQL query in flask/python and a good SQL query that uses parameterization.
                        </p>
                        <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
                        <pre><code># Bad SQL Query - Uses string formatting to pass variable to query. #
cur.execute("SELECT * FROM Sql_db_1 WHERE id = %s" % userID)

# Good SQL Query - Uses Parameterization(?) to pass variable in safely. #
cur.execute("SELECT * FROM Sql_db_1 WHERE id =?", userID)
                      </div>

            <div class="col-md-12">
                <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Encrypting Data</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                      Lastly we have encrypting data, this isn't really a mitigation technique but more of a last resort solution just incase people do somehow execute a new SQL injection attack into your system and steal data, atleast you can protect your data by encrypting the data using a cryptography method such as hashing the data, so that although the hackers have successfully got the data they still need to decrypt it before it can be useful to them.
                    </p>
                  </div>


                  <div class="col-md-12">
                      <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Summary</h1>
                          <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                          So in these SQL injection lessons we looked at how SQL injections work and different techniques of implementing them and even how to protect your website against them. I hope you enjoyed the lesson as much as I spent creating it and hope you will make secure websites that are immune to SQL injections. <br><B>SQL Injection Completed - Happy Learning.</B>
                          </p>
                        </div>

         <form action="/sql_lesson6">
          <button style="width:100%; border-radius: 24px; background-color: red !important" type="register" class="btn btn-success"><h7>Complete Lessons</h7></button>
        </form>

      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
