
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #93C178; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">SQL Injection</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson One - SQL Basics</h9>
                  <a class="ghost-button" style="position: absolute; top: 200px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>


     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px">

      <div class="col-md-12">
        <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Disclaimer</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              Any actions and or activities related to the material contained within this Website is solely your responsibility and taught for educational purposes <b>only.</b> The misuse of the information in this website can result in criminal charges brought against the persons in question. 
            </p>
          </div>

          <div class="col-md-12">
            <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px;">Lesson Requirements</h1>
                  <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                    <li>Have background knowledge in SQL.</li>
                    <li>Understand a little bit of Python.</li>
                    <li>Have a basic understanding in how web forms work.</li>
                  </ul>
              </div>

        <div class="col-md-12">
            <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
                  To start learning about SQL injections we first have to understand what SQL is and how it works on a webserver, so in this lesson we'll cover the basics of SQL and how SQL injections are implemented.
                </p>
              </div>


        <div class="col-md-12">
        <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is SQL?</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              SQL stands for structured query language and is the standard language for storing, mainpulating and retrieving data in databases, there are many different types of SQL languages.
            </p>
          </div>


          <div class="col-md-12">
       <h1 style="color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is SQL Injection?</h1>
       <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
        SQL Injection is one of the most common web hacking techniques, and many websites are still vulnerable to this attack still to this day. SQL Injection is a technique in a which a user places malicious code inside some form of web page input that injects the SQL code to the database and updates the changes. For example you could have a website that has a change password form for when a user forgets their password and the user could "accidently" put an sql query into the new password form which would then be injected and change the password of all the users giving that user control of the website.
       </p>
      </div>

      <div class="col-md-12">
       <h1 style=" color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 1 - How SQL works on websites</h1>
       <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
        Below we have a form that asks for a userID which is used to return the user the username that belongs to that userID, then we have the server side code to show you how the server will handle the form data the user enters. This is a bad way to implement an form though as it allows the user to inject modified SQL queries.
       </p>
      </div>

      <!-- form -->
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
      <form>
          <div class="form-group">
              <label for="imput1">UserID</label>
              <input type="text" class="form-control" id="imput1" placeholder="UserID">
          </div>
          <div class="form-group">
          <button type="submit" class="btn btn-primary">Get Username</button>
        </div>
          <div class="form-group">
              <label for="exampleFormControlTextarea1">Results</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
      </form>

      <!-- Server code -->
      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Server Code</h1>
      <pre><code> txtUserId = getRequestString("UserId");
       txtSQL = "SELECT * FROM Users WHERE UserId = " + txtUserId; </code></pre>

       <div class="col-md-12">
          <h1 style=" color:#93C178; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">How it works</h1>
          <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
           I will now explain how SQL is handled on a web server, so first the server waits for a user to fill in the form and press the submit button, once the user does this the data is sent to the server to proceed, in this case the server gets the user's username and runs the SQL query above SELECT * FROM Users WHERE userID = " + txtUserID" this is basically telling us the server will get all the results from the database that contain this username and return it to the user, this could be potentially dangerous though because the user could request anyones details or worse get the admins details and gain control of the website.
          </p>
         </div>

         <form action="/sql_lesson2">
          <button style="width:100%; border-radius: 24px; background-color: #93C178 !important" type="register" class="btn btn-success"><h7>Next Lesson</h7></button>
        </form>
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
