
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #3fb0ac; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">XSS - Cross Site Scripting</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson One - XSS Basics</h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Link to this part of the page-->
     <div id='down'><a name='down'></a></div>
     <!-- Content -->

     <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Disclaimer</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              Any actions and or activities related to the material contained within this Website is solely your responsibility and taught for educational purposes <b>only.</b> The misuse of the information in this website can result in criminal charges brought against the persons in question. 
            </p>
          </div>

          <div class="col-md-12">
            <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px;">Lesson Requirements</h1>
                  <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                    <li>Have background knowledge in Javascript.</li>
                    <li>Have a basic understaning of HTML and CSS.</li>
                    <li>You must use the Firefox web browser for this XSS lesson to work, as Chrome has increased their security and can no longer 
                      be vulnerable to a Javascript based XSS attack.
                    </li>
                  </ul>
              </div>

     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">
        <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
            In this lesson we will go over the basics of XSS including what it is and how it works and look an a basic example of where XSS can be performed.
            </p>
          </div>

          <div class="col-md-12">
            <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is XSS?</h1>
                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                XSS stands for cross site scripting and is used to exploit web input data on web servers so that a user can run exploited code such as javascript it is important that when you build a web application you have safeguards in place to prevent from this type of attack. For example we have a web application for selling t-shirts and users can buy and sell t-shirts on this website, an XSS attack could be used on a t-shirt post to steal the cookie of another user to then steal their session and even access their credit card details.
                </p>
              </div>

              <div class="col-md-12">
                <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 1 - Basic Form manipulation</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
                      To start off lets play around with a basic example, which is adding a comment to a website, Try inputting different text into the form below to understand how it works.
                    </p>
                  </div>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
          <form action="/xss_lesson_test" method="post" form style="padding-bottom: 20px;">
            <div class="form-group">
              <textarea class="form-control" rows="5" name="text" placeholder="Post a comment..." required></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Comment</button>
      </form>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Output</h1>
      <!-- Works by preventing flask from autoescaping characters that are illegal by using the safe Jinga filter -->
      <div style="padding-bottom: 20px">
        {{ output|safe }}
      </div>

      <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lets break it</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              If you haven't already discovered by playing around with the form above, that this form is vulnerable to XSS attacks this is due to the web server not autoescaping the illegal characters for scripting e.g. "{, }, <, >". Try this out for yourself and add html content, try the code below.
            </p>
                  <!-- code -->
        <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
        <pre><code>&lt;h1&gt;XSS hacked by Vuln&lt;/h1&gt;</code></pre>
          </div>


      <!-- Next lesson button -->
         <form action="/xss_lesson2">
          <button style="width:100%; border-radius: 24px; background-color: #3fb0ac !important" type="register" class="btn"><h7>Next Lesson</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
