
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #3fb0ac; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">XSS - Cross Site Scripting</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson Four - XSS Prevention</h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">
        <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              In the previous lessons we looked at how cross site scripting worked and how it was implemented into websites. We also covered a couple of different techniques that could be useful real like scenarios that hackers have used in the past, specifically cookie stealing. In this lesson however we are going to look at mitigation techniques to prevent XSS attacks.
            </p>
          </div>

          <!-- HTML with styles -->
              <div class="col-md-12">
                <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">XSS Prevention methods</h1>
                <ul style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px;">
                  <li>Escaping</li>
                  <li>Data Validation</li>
                  <li>Data Sanitization</li>
                </ul>
                  </div>

                  <div class="col-md-12">
                      <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Escaping</h1>
                          <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                            Escaping is the first mitigation technique and involves the developer reducing the ambiguity in the quotes, for instance if a user tries to input a html tag or JavaScript script tag, the developer's web application will automatically escape the string and remove the "<""/>" characters to prevent the script from running. Flask is quite good at this as by default as flask applications use Jinja2 templates which automatically auto-escape to prevent XSS attacks. So when creating your web application it is important to decide carefully what framework you want to use and does it auto-escape.
                          </p>
                        </div>

      <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Data validation</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              The second mitigation technique is data validation this is where the developer makes it so that any user input fields within their web application such as a form for instance is validated and if the user inputs a string instead of a number then the  client will reject it and prevent that information being sent to the server. It is also more efficient to use this method aswell because server-side validation is expensive and will slow your web application down. Below is a validated form example, this will make it so the user is required to input something and it must be using the email syntax. Try it for yourself.
            </p>
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit</button>
              </form>
          </div>

          <div class="col-md-12">
            <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Data Sanitization</h1>
                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                  Data sanitization is similar to validation however with data sanatization the server will remove all illegal characters, for instance if a user submits a semicolon into a string field on a form then that information will get sent to a server which is dangerous, however the server can then mitigate this problem by removing that semicolon, this is more expensive though and should be a final resort afer data validation and escaping as if the server has thousands of users it will slow down the website. Below is an example of data sanatization specifically in the python programming language using the cgi library that converts the characters '&', '<', '>' to the HTML safe sequences.
                </p>
                <pre><code># Check the user input for spaces or semicolons. # 
import cgi
inputList = '<>'
transform = cgi.escape(inputList)</code></pre>
              </div>

              <div class="col-md-12">
                <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Summary</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                    So in these XSS injection lessons we looked at how XSS  work and different techniques of implementing them and even how to protect your website against them. I hope you enjoyed the lesson as much as I spent creating it and hope you will make secure websites that are immune to XSS Attacks. <br><B>XSS Lessons Completed - Happy Learning.</B>
                    </p>
                  </div>


      <!-- Next lesson button -->
         <form action="/xss_lesson5">
          <button style="width:100%; border-radius: 24px; background-color: red !important" type="register" class="btn"><h7>Complete Lessons</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
