
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

    <!-- Glyphicons -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #3fb0ac; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">XSS - Cross Site Scripting</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson Two - Styles and JavaScript</h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <!-- Link to this part of the page-->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">
        <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              So in the previous we looked at how XSS - cross site scripting worked and showed an example involving injecting HTML code into a webpage, in this lesson we're gonna take a step further and introduce how you can inject css styles and even javascript into a HTML page. Being able to inject javascript is very dangerous as many different attack styles can be taken place.
            </p>
          </div>
          <!-- HTML with styles -->
              <div class="col-md-12">
                <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 2 - HTML manipulation with styles</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                      Now if you remember last time we added a h1 tag into the form and it was posted to the webpage, well we can also add styles and even images, try for yourself, there is some sample code below for you test.
                    </p>
                                      <!-- code -->
                    <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
                    <pre><code>&lt;h1 style="color: purple; font-size: 52px;"&gt;XSS hacked by Vuln&lt;/h1&gt;
&lt;img src="http://i0.kym-cdn.com/photos/images/masonry/000/225/827/12611612.jpg"&gt;</code></pre>
                  </div>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
          <form action="/xss_lesson_2_test" method="post" form style="padding-bottom: 20px;">
            <div class="form-group">
              <textarea class="form-control" rows="5" name="text" placeholder="Post a comment..." required></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Comment</button>
      </form>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Output</h1>
      <!-- Works by preventing flask from autoescaping characters that are illegal by using the safe Jinga filter -->
      <div style="padding-bottom: 20px">
        {{ output|safe }}
      </div>

      <!-- HTML with javaScript -->
      <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 3 - JavaScript oh no</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              XSS gets much more dangerous once we can execute javascript code, this is implemented by inserting a javascript script tag into the form allowing a hacker to run malicious javascript, later we'll show you a working example of one way a hacker can use a javascript XSS attack to cause havoc.
            </p>

            <div class="col-md-12">
              <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lets Break it!</h1>
                  <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                    Below we have a form that is vulnerable to an XSS attack using JavaScript, you can play around with this yourself if you think you're ready if not don't worry, we'll show you how to break it. Try posting a comment below using the code in the context of your comment and see what happens.
                  </p>

          <!-- code -->
          <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
          <pre><code>&lt;script&gt; for(i=0; i<3; i++){
alert("Hacked by Vuln!");
} 
&lt;/script&gt;</code></pre>
        </div>

          <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
              <form action="/xss_lesson_2_test_2" method="post" form style="padding-bottom: 20px;">
                <div class="form-group">
                  <textarea class="form-control" rows="5" name="text2" placeholder="Post a comment..." required></textarea>
                </div>
              <button type="submit" class="btn btn-primary">Comment</button>
          </form>

          <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Output</h1>
          <!-- Works by preventing flask from autoescaping characters that are illegal by using the safe Jinga filter -->
          <div style="padding-bottom: 20px">
            {{ output2|safe }}
          </div>

          <div class="col-md-12">
            <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">How it works</h1>
                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                  After trying out the example above you will see that it opened an alert box in a loop and will run 3 times, if the webpage is stored this could be abused as other users that user this webpage would also be given the alert box which is a problem as it prevents the users from using the core features of that website. This is just a basic example of how JavaScript with XSS works, later we will show you more pratical and real life scenarios.
                </p>

      <!-- Next lesson button -->
         <form action="/xss_lesson3">
          <button style="width:100%; border-radius: 24px; background-color: #3fb0ac !important" type="register" class="btn"><h7>Next Lesson</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
